<strong> Test cat test cat </strong> 

<form action ="/" method="post">
	<label for="place">Place: </label> 
	<input id="place" name="place" type="text" value = <%= @place %> />
	<br />
	<input type="submit" value="Go for it!" />
</form>